In [4]:
import pandas as pd
import numpy as np
import os
pd.set_option('max_columns', None)

In [2]:
loan_data_original = pd.read_csv(r'D:\Loyalytics\Credit Risk Competency Development\Udemy Course\Udemy-Credit-Risk\data\raw\loan_data_2007_2014.csv')

C:\ProgramData\Anaconda3\envs\venv_credit_risk\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
loan_data_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [8]:
loan_data_original['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [9]:
loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace('\+ years', '')
loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace('< 1 year', str(0))
loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace('n/a', str(0))
loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace(' years', '')
loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace(' year', '')

C:\Users\91886\AppData\Local\Temp/ipykernel_14140/4183234483.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data_original['emp_length'] = loan_data_original['emp_length'].str.replace('\+ years', '')

In [11]:
loan_data_original['emp_length'] = pd.to_numeric(loan_data_original['emp_length'])

In [15]:
loan_data_original['term'].unique()
loan_data_original['term'] = loan_data_original['term'].str.replace(' months', '')
loan_data_original['term'] = loan_data_original['term'].str.replace(' ', '')
loan_data_original['term'] = pd.to_numeric(loan_data_original['term'])
loan_data_original['term'].unique()

array([36, 60], dtype=int64)

In [17]:
loan_data_original['earliest_cr_line'] = pd.to_datetime(loan_data_original['earliest_cr_line'], format='%b-%y')

In [25]:
loan_data_original['months_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data_original['earliest_cr_line'])/np.timedelta64(1, 'M')))

In [26]:
loan_data_original['months_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: months_since_earliest_cr_line, dtype: float64

In [28]:
loan_data_original.loc[loan_data_original['months_since_earliest_cr_line'] <0, ['earliest_cr_line', 'months_since_earliest_cr_line']]
loan_data_original['months_since_earliest_cr_line'][loan_data_original['months_since_earliest_cr_line'] < 0] = loan_data_original['months_since_earliest_cr_line'].max()

C:\Users\91886\AppData\Local\Temp/ipykernel_14140/3268420144.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data_original['months_since_earliest_cr_line'][loan_data_original['months_since_earliest_cr_line'] < 0] = loan_data_original['months_since_earliest_cr_line'].max()

In [29]:
loan_data_original['months_since_earliest_cr_line'].describe()

count    466256.000000
mean        242.385374
std          86.460310
min          73.000000
25%         184.000000
50%         226.000000
75%         285.000000
max         587.000000
Name: months_since_earliest_cr_line, dtype: float64

In [34]:
loan_data_original['issue_d'] = pd.to_datetime(loan_data_original['issue_d'], format='%b-%y')

In [36]:
loan_data_original['months_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data_original['issue_d'])/np.timedelta64(1, 'M')))
loan_data_original['months_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: months_since_issue_d, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, stratify=X['cut'], random_state=1121218)